
@import 'webapp_generated';

$spaced-margin: 15px;

#iphone5s, #iphone5c, #ipad
{
  div
  {
    box-sizing: content-box;
  }
}

.submit-wrapper
{
  text-align: left;
}

iframe.screen
{
  border: none;
}

.row-spaced
{
  margin-top: $spaced-margin;
  margin-bottom: $spaced-margin;
}

.btn
{  
  margin-top: $spaced-margin;
  margin-bottom: $spaced-margin;
}